<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    
    <link rel="stylesheet" href="{{url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='vendor/devicons/css/devicons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='vendor/simple-line-icons/css/simple-line-icons.css')}}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/resume.min.css')}}">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Start Bootstrap</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{url_for('static',filename='img/profile.jpg')}}" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Ramanjaneyalu
            <span class="text-primary">Taluri</span>
          </h1>
          <div class="subheading mb-5">#1960/19, Anugraha, 1st main, 1st cross, vinayaka badavane,vindyanagara,Davanagere. ·
            <a href="mailto:ramanjaneyalu44@gmail.com">Ramanjaneyalu44@gmail.com</a>·
            <span class="text-primary">9740275325</span>
          </div>
          <p class="mb-5">Over 3.5 years of experience in IT industry with robust experience in web development using frameworks like Django with python and MERN stack
          </p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/ramanjaneyalu.tn" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/ramanjaneyalu_t" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/ramanjaneyalu-t-52a5a0104/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/ramanjaneyalu?tab=repositories " target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Backend python Developer</h3>
              <div class="subheading mb-3">Embibe technologies</div>
              <p>Started working on Content Generation(CG) for Embibe. Worked on 5 different repositories.</p>
              <ul class="fa-ul mb-0">
                <li>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Worked on POC to create a pdf for the given set of questions using the pdfkit module.</li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                    Worked on scripts to PATCH or POST bulk data using API's using threadpool and processpool executor whenever necessary. </li>
                    <li>
                      <i class="fa-li fa fa-check"></i>
                      Worked on content-utility to create utilities where users can perform changes to the data ingested or ingest new data into the system. </li>
                <li>
                      <i class="fa-li fa fa-check"></i>
                      Worked cg-mongo API's creation.</li>
                <li>
                      <i class="fa-li fa fa-check"></i>
                      Worked on cg-csp-kafka to provide the data in a particular format which can be consumed whenever any cg-mongo API data changes happen.</li>
                <li>
                      <i class="fa-li fa fa-check"></i>
                      Worked on fixing cg-fiber-ms API's to fix bugs and created few API's.</li>
                <li>
                      <i class="fa-li fa fa-check"></i>
                      Worked on 80% migrating Ruby on Rails(ROR) code to python ca-rest api's repo.</li>
                <li>
                      <i class="fa-li fa fa-check"></i>
                      Worked on Azure vault setup of cg-fiber-ms and docker changes.</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Nov 2021 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Full stack Developer</h3>
              <div class="subheading mb-3">Powerup cloud technologies</div>
              <p>Started working on Content Management System(CMS) for EROS NOW. Worked on 3 modules as module lead</p>
              <ul class="fa-ul mb-0">
                <li>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Worked on Ads management, where the client stores all the ads related data and how the data should be presented.</li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                    Worked on listing all the modules where in the details of each module can be filtered, searched or sorting can be applied. </li>
                    <li>
                      <i class="fa-li fa fa-check"></i>
                      Worked on partner management system where data is generated and stored in blob which can be shared with the client through email. </li>     
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Feb 2020 - Nov 2021</span>
            </div>
          </div> 

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Associate Software engineer</h3>
              <div class="subheading mb-3">Mphasis pvt.Ltd</div>
              <p>Started working in Web automation using selenium and python, machine learning and deep learning.</p>
              <ul class="fa-ul mb-0">
                <li>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Experienced in Django web development.</li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                    Experience in coordinating with onsite/offshore team members. </li>     
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Jan 2018 - Jan 2020</span>
            </div>
          </div>

        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">SDM College of Engineering and technology</h3>
              <div class="subheading mb-3">Bachelor of Engineering</div>
              <div>Computer Science and engineering</div>
              <p>GPA: 8.6</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">July 2013 - July 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Aman PU college</h3>
              <div class="subheading mb-3">Secondary education</div>
              <p>Percentage: 89</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2011 - June 2013</span>
            </div>
          </div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Django web development.</li> 
            <li>
              <i class="fa-li fa fa-check"></i>
              Web scrapping with python.</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Flask development for productionization of ML models. </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Python with selenium web automation.</li>
              <li> 
            <i class="fa-li fa fa-check"></i>
            Quick learner and excellent team player. </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Experienced in working with Pyspark and Airflow to create data pipelines.</li>
            <li>
          </ul>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Apart from being a developer, I enjoy most of my time playing games.</p>
          <p>I follow a number of sci-fi and fantasy genre movies, television shows.</p>
          <P>I enjoy spending time on keeping myself up to date on advancements in development world.</P>
          <p>Love reading manga and watching anime(Death note, Kingdom, One piece).</p>
          <p>Reading books.</p>
          <p>Watching news containing current affairs, International relations.</p>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{url_for('static',filename='js/resume.min.js')}}"></script>

  </body>

</html>
